.button1 {
  position: absolute;
  left: 620px;
  top: 20px;
  
}
.button2 {
  position: absolute;
  left:700px;
  top: 20px;
  
}
.button3 {
    position: absolute;
  left:780px;
  top: 20px;

}
table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #aaa;
    padding: 5px;
    text-align: left;
}
